@page "{id}"
@model ServiceHost.Pages.ArticleModel
@{
    ViewData["Title"] = Model.Article.Title;
    ViewData["keywords"] = Model.Article.KeyWords;
    ViewData["metaDescription"] = Model.Article.MetaDescribtion;
}


<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h1 class="breadcrumb-content__title">@Model.Article.Title</h1>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-page="./ArticleCatagory" asp-route-id="@Model.Article.CategorySlug">@Model.Article.Category</a>
                            </li>
                            <li class="active">@Model.Article.Title</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-lg-9 order-1 order-lg-1">
                                <div class="blog-page-content">
                                    <div class="blog-single-post-container">
                                        <h2 class="post-title">@Model.Article.Title</h2>

                                        <div class="post-meta">
                                            <p>
                                                <span><i class="fa fa-user-circle"></i> </span> <a></a> <span class="separator">|</span> <span>
                                                    <i class="fa fa-calendar"></i> پست در <a href="#">
                                                        @Model.Article.PublishDate
                                                    </a>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="single-blog-post-media">
                                            <div class="image">
                                                <img src="/UpdolerFile/@Model.Article.picture" class="img-fluid" alt="@Model.Article.PictureAlt"
                                                     title="@Model.Article.pictureTitle">
                                            </div>
                                        </div>

                                        <div class="post-content">

                                            @Html.Raw(Model.Article.Describtion)

                                        </div>
                                        <div class="tag-area">
                                            <span>تگ ها: </span>
                                            <ul>
                                                @foreach (var item in Model.Article.KeyWordList)
                                                {
                                                    <li><a href="#">@item</a>,</li>

                                                }

                                            </ul>
                                        </div>



                                        <div class="social-share-buttons">
                                            <h3>اشتراک گذاری مقاله</h3>
                                            <ul>
                                                <li>
                                                    <a class="twitter" href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="facebook" href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="google-plus" href="#">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="pinterest" href="#">
                                                        <i class="fa fa-pinterest"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>



                                    <div class="comment-section">
                                        <h3 class="comment-counter">4 COMMENTS</h3>


                                        <div class="comment-container">

                                            @foreach (var item in Model.Article.Comments)
                                            {

                                                <div class="single-comment @*@(item.ParentId > 0 ? "reply-comment" :"" )*@ " id="comment-@item.Id">
                                                    <span class="reply-btn">
                                                        <a href="#Form" onclick='$("#ParentId").val(@item.Id)'>پاسخ</a>
                                                    </span>

                                                    <div class="image">
                                                        <img src="~/Theme/assets/img/blog/comment-icon.png">
                                                    </div>
                                                    <div class="content">
                                                        <h3 class="user">
                                                            @item.Name
                                                            <span class="comment-time">
                                                                @item.CreationDate
                                                            </span>
                                                            @if (item.ParentId != 0)
                                                            {
                                                                <span class="comment-time">
                                                                    در پاسخ:<a href="#comment-@item.ParentId">@item.ParentName</a>
                                                                </span>
                                                            }


                                                        </h3>
                                                        <p class="comment-text">
                                                            @item.Message
                                                        </p>
                                                    </div>
                                                    
                                                  
                                                </div>

                                               



                                            }





                                            <div class="comment-form">
                                                <form method=post id="Form">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label>متن نظر</label>
                                                                <textarea name="Message" id="Message">

                                                                </textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <label>نام <span class="required">*</span></label>
                                                                <input type="text" name="Name">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <label>ایمیل <span class="required">*</span></label>
                                                                <input type="text" name="Email">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <label>وب سایت </label>
                                                                <input type="text" name="WebSite">
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="ArticleSlug" value="@Model.Article.Slug" />
                                                        <input type="hidden" name="OwnerRecordId" value="@Model.Article.Id" />
                                                        <input type="hidden" name="OwnerRecord" value="@Model.Article.Title" />
                                                        <input type="hidden" name="ParentId" id="ParentId" value="" />

                                                        <div class="col-lg-12">
                                                            <button type="submit" class="comment-btn"
                                                                    name="submit">
                                                                افزودن نظر
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>


                                    </div>


                                </div>
                            </div>
                            <div class="col-lg-3 order-2 order-lg-2">
                                <div class="page-sidebar-wrapper">
                                    @await Component.InvokeAsync("ArticleCategoriessidebar")

                                    @await Component.InvokeAsync("RecentPosts")


                                    <div class="single-sidebar-widget">
                                        <h4 class="single-sidebar-widget__title">تگ ها</h4>
                                        <ul class="single-sidebar-widget__tag-list">
                                            @foreach (var item in Model.Article.KeyWordList)
                                            {
                                                <li>
                                                    <a asp-page="/SearchArticles" asp-route-id="@item">@item</a>
                                                </li>

                                            }


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>