@using _01_ShopQuery.Contracts.Article
@model List<ArticleQueryModel>

<div class="single-sidebar-widget">

    <h4 class="single-sidebar-widget__title">اخرین مقالات</h4>

    @foreach (var item in Model)
    {
        <div class="block-container">
            <div class="single-block d-flex">
                <div class="image">
                    <a asp-page="/Article" asp-route-id="@item.Slug" >
                        <img src="/UpdolerFile/@item.picture"
                         class="img-fluid" alt="@item.PictureAlt" title="@item.pictureTitle">
                    </a>
                </div>
                <div class="content">
                    <p>
                        <a asp-page="/Article" asp-route-id="@item.Slug">
                           @item.Title
                        </a> <span>@item.PublishDate</span>
                    </p>
                </div>
            </div>
        </div>

    }




</div>